$main-color: rgb(95, 0, 0);

.pc-header {
  background-color: #fff;
  color: #333;

  .gnb {
    li {
      a {
        span {
          color: #666;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}
main {
  padding: 50px 0 50px 0;
  .inner {
    max-width: 1080px;
    padding: 0 24px;
    box-sizing: content-box;
    .sub-title-top {
      margin: 20px 0;
      font-size: 14px;
      color: #aaa;
      font-weight: 300;
      text-align: right;
      span {
        a:hover {
          color: #666;
        }
      }
    }

    .product-intro {
      display: flex;
      flex-direction: column;
      .img {
        img {
          width: 100%;
          height: auto;
        }
      }
      >div {
        .title {
          font-size: 24px;
          padding: 12px 0;
          border-bottom: 1px solid #ccc;
        }
        .product-buy {
          >div {
            display: flex;
            padding: 8px 0;
            >div:nth-child(1) {
              width: 20%;
              font-size: 14px;
            }
            >div:nth-child(2) {
              width: 80%;
              font-weight: 500;
              font-size: 15px;
              select {
                border: 1px solid #999;
                font-size: 14px;
                padding: 2px;
                &:focus {
                  outline: none;
                }
              }
              input#num {
                width: 100px;
                outline: 0;
              }
            }
            &:nth-child(1) {
              margin-top: 15px;
            }
            &:nth-child(3) {
              margin-bottom: 15px;
            }
          }
          p {
            border-top: 1px solid #ccc;
            text-align: right;
            padding: 12px 0;
            font-size: 14px;
            span {
              font-size: 16px;
              color: #222;
              font-weight: 500;
            }
          }
          ul {
            li {
              width: 100%;
              text-align: center;
              border: 1px solid #333;
              margin-bottom: 10px;
              transition: all .2s;
              &:hover {
                background-color: #eee;
              }
              &:nth-child(1) {
                background-color: #333;
                &:hover {
                  background-color: #1a1a1a;
                }
                a {
                  color: #fff;
                }
              }
              a {
                display: block;
                padding: 8px 0;
              }
            }
          }
        }
      }
    }

    .product-detail {
      padding-top: 30px;
      >div {
        padding-top: 50px;
      }
      img {
        width: 100%;
        height: auto;
      }
      .detail-nav {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        li {
          position: relative;
          &:not(:last-child)::after {
            content: '';
            width: 1px;
            height: 50%;
            background-color: #999;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          a {
            padding: 0 8px;
            font-size: 14px;
            color: #999;
            font-weight: 300;
            &:hover {
              color: #333;
            }
            span {
              color: #333;
            }
          }
        }
      }
      .product-info {
        h2 {
          text-align: center;
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 30px;
        }
        .img {
          width: 100%;
          max-width: 550px;
          margin: 0 auto;
        }
        .text {
          margin-top: 20px;
          h5,p {
            text-align: center;
          }
          h5 {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 5px;
          }
          p {
            font-size: 16px;
            color: #444;
            margin-bottom: 25px;
          }
        }
      }

      .buy-info {
        .text-box {
          margin: 0 auto;
          border: 1px solid #ccc;
          
          .text {
            margin: 7%;
            padding-bottom: 7%;
            border-bottom: 1px solid #ccc;
            &:last-child {
              border-bottom: 0;
              margin-bottom: 0;
            }
            h3 {
              border-left: 4px solid #666;
              height: 18px;
              vertical-align: bottom;
              font-size: 18px;
              line-height: 18px;
              padding-left: 5px;
              margin-bottom: 15px;
            }
            p {
              font-size: 14px;
              color: #555;
              font-weight: 300;
              line-height: 1.6;
              span {
                color: red;
                font-size: 16px;
              }
            }
          }
        }
      }
      
      .review {
        .section-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 15px;
          border-bottom: 3px solid #999;
          h2 {
            font-size: 18px;
          }
          a {
            color: #666;
            font-size: 14px;
            font-weight: 300;
          }
        }
        .review-top {
          display: flex;
          flex-direction: column;
          
          >div {
            font-size: 30px;
            width: 100%;
            text-align: center;
            padding: 36px;
            border-bottom: 1px solid #ccc;
            span {
              font-size: 40px;
              vertical-align: bottom;
              color: rgb(224, 0, 0);
            }
          }
          ul {
            width: 100%;
            padding: 24px 0;
            border-bottom: 1px solid #ccc;
            li {
              width: 100%;
              display: flex;
              text-align: center;
              margin-bottom: 15px;
              height: 10px;
              line-height: 10px;
              font-size: 14px;
              div {
                &:nth-child(1) {
                  width: 10%;
                }
                &:nth-child(2) {
                  width: 80%;
                  position: relative;
                  >div {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: #efefef;
                    border-radius: 10px;
                    &.bar-action {
                      width: 100%;
                      background-color: red;
                    }
                  }
                }
                &:nth-child(3) {
                  width: 10%;
                }
              }
            }
          }
        }

        .photo-review {
          .photo-review-title {
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
              font-size: 18px;
            }
            a {
              color: #666;
              font-size: 14px;
              font-weight: 300;
            }
          }
          .photo {
            width: 100%;
            display: flex;
            padding-bottom: 24px;
            border-bottom: 1px solid #ccc;
            li {
              width: 25%;
              button {
                width: 100%;
                padding: 0;
                margin: 0;
                border: 0;
                box-shadow: none;
                img {
                  width: 100%;
                  height: auto;
                  display: block;
                }
              }
              .modal {
                .modal-dialog {
                  .modal-content {
                    position: relative;
                    .btn-close {
                      width: 40px;
                      height: 40px;
                      position: absolute;
                      right: 0;
                      top: -40px;
                      outline: none;
                      box-shadow: none;
                    }
                    .modal-body {
                      margin: 0;
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .review-contents {
          .review-order {
            display: flex;
            justify-content: right;
            li {
              a {
                padding: 3px 6px;
                font-size: 14px;
                color: #555;
                font-weight: 300;
              }
            }
          }
          >div {
            .star {
              margin-bottom: 5px;
              span {
                color: rgb(224, 0, 0);
                vertical-align: bottom;
                &.black-star {
                  color: #666;
                }
              }
            }
            .id,.option {
              font-size: 14px;
              color: #666;
              margin-bottom: 5px;
            }
            .text {
              font-size: 18px;
              margin-bottom: 10px;
            }
          }
          .photos {
            border-bottom: 1px solid #ccc;
            padding-bottom: 24px;
            .photo {
              width: 25%;
              button {
                width: 100%;
                padding: 0;
                margin: 0;
                border: 0;
                box-shadow: none;
                img {
                  width: 100%;
                  height: auto;
                  display: block;
                }
              }
              .modal {
                .modal-dialog {
                  .modal-content {
                    position: relative;
                    .btn-close {
                      width: 40px;
                      height: 40px;
                      position: absolute;
                      right: 0;
                      top: -40px;
                      outline: none;
                      box-shadow: none;
                    }
                    .modal-body {
                      margin: 0;
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
          .page-nav {
            margin: 50px 0 70px 0;
            ul {
              display: flex;
              align-items: center;
              justify-content: center;
              li {
                font-weight: 300;
                font-size: 14px;
                &.action a {
                  color: #333;
                }
                a {
                  display: block;
                  padding: 0 6px;
                  line-height: 10px;
                  color: #999;
                  &:hover {
                    color: #333;
                  }
                  span {
                    font-size: 18px;
                    line-height: 10px;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
      }

      .inquire {
        h2 {
          font-size: 18px;
          margin-bottom: 20px;
        }

        .inquire-content {
            >li {
              >ul {
                display: flex;
                >li {
                  text-align: center;
                  color: #666;
                  font-size: 14px;
                  font-weight: 300;
                  padding: 8px 0;
                  border-bottom: 1px solid #ccc;
                  &:nth-child(1) {
                    width: 15%;
                  }

                  &:nth-child(2) {
                    text-align: left;
                    width: 55%;
                    display: flex;

                    input {
                      width: 60px;
                      height: 20px;
                      border: 1px solid #ccc;
                    }
                    button {
                      width: 40px;
                      height: 20px;
                      margin-left: 10px;
                      font-size: 11px;
                      background-color: #fff;
                      border: 1px solid #ccc;
                    }
                    a {
                      &:hover {
                        color: #333;
                      }
                    }

                    span {
                      display: inline-block;
                      background-color: #999;
                      color: #fff;
                      width: 25px;
                      text-align: center;
                    }
                  }

                  &:nth-child(3) {
                    width: 10%;
                  }

                  &:nth-child(4) {
                    width: 10%;
                  }

                  &:nth-child(5) {
                    width: 10%;
                  }
                }
                &.inquire-content-text-answer >li{
                  display: none;
                }
                &.clicked li {
                  display: block;
                }
              }
            }

        }
        .page-nav {
          margin: 50px 0 70px 0;
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
              font-size: 14px;
              font-weight: 300;
              &.action a {
                color: #333;
              }
              a {
                display: block;
                padding: 0 6px;
                line-height: 10px;
                color: #999;
                &:hover {
                  color: #333;
                }
                span {
                  font-size: 18px;
                  line-height: 10px;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }



    }




  }
}



@media (min-width:769px) {
  main {
    .inner {
      .product-intro {
        flex-direction: row;
        .img {
          width: 45%;
          margin-right: 50px;
        }
        >div {
          width: calc(55% - 50px);
        }
      }
    }
  }
}