@import '../node_modules/swiper/swiper.scss';

$main-color: rgb(95, 0, 0);

  header.header-on {
    background-color: #fff;
    color: #333;
    .gnb {
      li {
        a {
          span {
            color: #666;
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }

  
main {
  
  
  .main-visual {
    height: 100vh;

    .swiper {
      width: 100%;
      height: 100vh;

      .swiper-wrapper {
        .swiper-slide {
          position: relative;
          &:nth-child(1) .slide-contents {
            background-image: url(../images/main-visual1.jpg);
          }
          &:nth-child(2) .slide-contents {
            background-image: url(../images/main-visual2.jpg);
          }
          .slide-contents {
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .text {
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translateX(-50%);
              h2 {
                font-size: 50px;
                font-weight: 500;
                margin-bottom: 40px;
              }
              p {
                text-align: center;
                color: #fff;
                word-break: keep-all;
                opacity: 0;
                transition: all 1s;
                transform: translateY(0);
                &:nth-child(2) {
                  font-size: 20px;
                  transition-delay: .4s;
                  margin-bottom: 60px;
                }
                &:nth-child(3) {
                  font-size: 18px;
                  transition-delay: .8s;
                  a {
                    font-size: 16px;
                    position: relative;
                    padding: 3px 0;
                    &::after {
                      content: '';
                      width: 50%;
                      height: 3px;
                      position: absolute;
                      bottom: -7px;
                      left: 0;
                      background-color: $main-color;
                      transition: all .3s;
                    }
                    &:hover::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
          &.swiper-slide-active {
            .slide-contents {
              .text {
                p {
                  opacity: 1;
                  transform: translateY(-35px);
                }
              }
            }
          }
        }
      }
    }


    .swiper-pagination {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
      display: flex;

      span {
        display: block;
        width: 10px;
        height: 10px;
        margin: 2px;
        background-color: #bbb;
        transition: all .3s;

        &.swiper-pagination-bullet-active {
          background-color: $main-color;
          width: 30px;
        }
      }
    }
  }

  .section2 {
    .box-row {
      width: 100%;
      a {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .box-content {
      position: relative;
      overflow: hidden;
      &:hover img{
        transform: scale(1.1);
      }
      img {
        width: 100%;
        height: auto;
        transition: all .3s;
      }
      
      a {
        display: block;
        h3 {
          width: 100%;
          position: absolute;
          top: 10%;
          // left: 50%;
          // transform: translateX(-50%);
          color: #fff;
          letter-spacing: 2px;
          font-size: 3vw;
          font-weight: 700;
          text-align: center;
        }
      }
    }
    .box-top {
      display: flex;
      flex-direction: column;
      >div {
        width: 100%;
        >div {
          display: flex;
          >div {
            width: 50%;
          }
        }
      }
    }
    .box-bottom {
      display: flex;
      flex-wrap: wrap;
      div {
        width: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .swiper-section {
    padding: 50px 0;
    h3 {
      text-align: center;
      font-size: 18px;
      font-size: 500;
      padding: 12px 0;
    }
    .swiper {
      position: relative;
      padding-bottom: 20px;
      max-width: 1080px;
      .swiper-wrapper {
        .swiper-slide {
          width: 33.333333%;
          a {
            img {
              width: 100%;
              height: auto;
            }
          }
          p {
            font-size: 14px;
            color: #666;
            text-align: center;
            padding: 1px 0;
            &:nth-child(2) {
              font-size: 15px;
              color: #333;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .swiper-pagination {
        display: flex;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        span {
          display: block;
          width: 10px;
          height: 10px;
          background-color: #bbb;
          margin: 2px;
          // transition: all .3s;
          &.swiper-pagination-bullet-active {
            background-color: $main-color;
            width: 30px;
            height: 10px;
          }
        }
      }
      .swiper-button {
          position: absolute;
          top: 40%;
          z-index: 9;
          width: 50px;
          height: 50px;
          background-color: rgba(black, .2);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: #fff;
          }
        &.swiper-button-next {
          right: 0;
        }
        &.swiper-button-prev {
          left: 0;
        }
      }
      
    }
  }

  .etc-product-section {
    .inner {
      max-width: 1080px;
      h3 {
        text-align: center;
        font-size: 18px;
        font-size: 500;
        padding: 12px 0;
      }
      .etc-product {
        display: flex;
        flex-wrap: wrap;
        padding: 0 24px;
        li {
          width: calc(50% - 10px);
          margin-bottom: 20px;
          &:nth-child(even) {
            margin-left: 10px;
          }
          &:nth-child(odd) {
            margin-right: 10px;
          }
          a {
            .img {
              overflow: hidden;
              img {
                width: 100%;
                height: auto;
                transition: all .2s;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
            p {
              text-align: center;
              padding: 2px;
              &:nth-child(2) {
                color: #666;
                font-size: 15px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          >p {
              text-align: center;
              color: #999;
              font-size: 14px;
          }
        }
      }
    }
  }


  .banner-section {
    margin: 50px 0;
    width: 100%;
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    .inner {
      max-width: 1080px;
      .banner {
        height: 200px;
        padding-top: 25px;
        p {
          text-align: center;
          &:nth-child(1) {
            width: 120px;
            height: 30px;
            border: 2px solid #fff;
            color: #fff;
            margin: 0 auto;
            font-size: 12px;
            line-height: 27px;
            border-radius: 20px;
          }
          &:nth-child(3) {
            color: green;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
        h6 {
          margin-top: 12px;
          text-align: center;
          color: rgb(104, 0, 17);
          font-size: 28px;
          font-weight: 700;
        }
        a {
          display: block;
          width: 60px;
          height: 25px;
          border: 1px solid #fff;
          margin: 0 auto;
          color: #fff;
          text-align: center;
          line-height: 20px;
          font-size: 14px;
          transition: all .3s;
          &:hover {
            background-color: $main-color;
            border: 1px solid $main-color;
          }
        }
      }
    }
  }


  .notice-section {
    
    .inner {
      max-width: 1080px;
      padding: 24px;
      box-sizing: content-box;
      h3 {
        font-size: 18px;
        font-size: 500;
        padding: 12px 0;
      }
      .swiper {
        width: 100%;
        height: 50px;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        position: relative;
        .swiper-wrapper {
          .swiper-slide {
            height: 50px;
            line-height: 50px;
            color: #555;
            vertical-align: middle;
            span:nth-child(1) {
              font-weight: 500;
              color: #222;
              font-size: 17px;
            }
            span:nth-child(2) {
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
        .swiper-button-box {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          z-index: 99;
          .swiper-button {
            height: 20px;
            text-align: center;
            span {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

}






@media (min-width: 769px) and (max-width:1079px) {
  main {
    .etc-product-section {
      .inner {
        .etc-product {
          padding: 24px;
          li {
            width: calc(33.333333% - 13.333333px);
            margin-right: 20px;
            &:nth-child(even) {
              margin-right: 20px;
              margin-left: 0;
            }
            &:nth-child(odd) {
              margin-right: 20px;
              margin-left: 0;
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1080px) {
  main {
    .section2 {
      .box-content {
        a {
          p {
            font-size: 1.8vw;
          }
        }
      }
      .box-top {
        flex-direction: row;
      }
      .box-bottom {
        div {
          width: 25%;
        }
      }
    }

    .etc-product-section {
      .inner {
        .etc-product {
          padding: 0;
          li {
            width: calc(25% - 15px);
            margin-right: 20px;
            &:nth-child(4n) {
              margin-right: 0;
            }
          }
        }
      }
    }

  }
}