<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOMEDECO</title>
  <link rel="icon" href="../favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="../css/bootstrap.scss">
  <script src="../js/bootstrap.js"></script>
  <link rel="stylesheet" href="../css/common.scss">
  <script defer src="../js/common.js"></script>
  <link rel="stylesheet" href="../css/detail-product.scss">
  <script defer src="../js/detail-product.js"></script>
</head>
<body>
  
  <div class="side-btn">
    <div class="toggle-btn">
      <span class="material-icons-outlined">
        arrow_left
      </span>
    </div>
    <div class="side-contents">
      <div>
        <a href="javascript:void(0);">
          <span class="material-icons-outlined" title="장바구니">
            shopping_bag
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" title="찜목록">
          <span class="material-icons-outlined">
            favorite_border
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" title="최근 본 목록">
          <span class="material-icons-outlined">
            visibility
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" id="top-btn" title="위로가기">
          <span class="material-icons-outlined">
            expand_less
          </span>
        </a>
      </div>
    </div>
  </div>
  <header class="mobile-header">
    <div class="inner">
      <div class="logo-box">
        <div class="ham-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <a href="../index.html">HOMEDECO</a>
        </div>
        <div class="icons">
          <div class="icon">
            <span class="material-icons-outlined">
              search
            </span>
          </div>
          <input class="search-box" type="text" placeholder="검색어를 입력해주세요">
        </div>
      </div>
      
      <div class="lnb-box">
        <div class="log">
          <div>로그인을 해주세요</div>
          <a href="./login.html">로그인</a>
        </div>
        <ul class="gnb">
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
                person_outline
              </span>
              <p>마이페이지</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
              shopping_bag
              </span>
              <p>장바구니</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
                confirmation_number
              </span>
              <p>쿠폰</p>
            </a>
          </li>
        </ul>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed accordion-icon-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
              onclick = "location.href = './components/product.html'">
                BEST PRODUCT
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed accordion-icon-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                NEW PRODUCT
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                DECO
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">장식소품</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">시계 & 벽장식</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">액자</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">수납정리함</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">거울</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">조명 & 캔들</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                FURNITURE
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">테이블</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">의자</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">선반 & 행거</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                FABRIC & LIFE
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">쿠션 & 방석</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">러그</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">생활 & 욕실용품</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                GARDEN
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">조화</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">화병</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                COMMUNITY
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">공지사항</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">이벤트</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">Q & A</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">갤러리</a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- mobile header -->

  <header class="pc-header">
    <div class="inner">
      <div class="logo">
        <a href="../index.html">HOMEDECO</a>
      </div>
      <ul class="lnb">
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="./product.html">BEST PRODUCT</a>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">NEW PRODUCT</a>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">DECO</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                DECO
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">장식소품</a>
                </li>
                <li>
                  <a href="javascript:void(0);">시계 & 벽장식</a>
                </li>
                <li>
                  <a href="javascript:void(0);">액자</a></li>
                <li>
                  <a href="javascript:void(0);">수납정리함</a>
                </li>
                <li>
                  <a href="javascript:void(0);">거울</a>
                </li>
                <li>
                  <a href="javascript:void(0);">조명 & 캔들</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img1.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">FURNITURE</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                FURNITURE
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">테이블</a>
                </li>
                <li>
                  <a href="javascript:void(0);">의자</a>
                </li>
                <li>
                  <a href="javascript:void(0);">선반 & 행거</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img2.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">FABRIC & LIFE</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                FABRIC & LIFE
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">쿠션 & 방석</a>
                </li>
                <li>
                  <a href="javascript:void(0);">러그</a>
                </li>
                <li>
                  <a href="javascript:void(0);">생활 & 욕실용품</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img3.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">GARDEN</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                GARDEN
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">조화</a>
                </li>
                <li>
                  <a href="javascript:void(0);">화병</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img4.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">COMMUNITY</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                COMMUNITY
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">공지사항</a>
                </li>
                <li>
                  <a href="javascript:void(0);">이벤트</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Q & A</a>
                </li>
                <li>
                  <a href="javascript:void(0);">갤러리</a>
                </li>
                <li>
                  <a href="javascript:void(0);">리뷰</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img5.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
      </ul>

      <ul class="gnb">
        <li>
          <a href="./login.html" title="로그인">
            <span class="material-icons-outlined">
              login
            </span>
          </a>
        </li>
        <li>
          <a href="./login.html" title="마이 페이지">
            <span class="material-icons-outlined">
              person_outline
            </span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" title="이벤트">
            <span class="material-icons-outlined">
              card_giftcard
            </span>
          </a>
        </li>
        <li class="pc-search">
          <a href="javascript:void(0);" title="검색">
            <span class="material-icons-outlined">
              search
            </span>
          </a>
        </li>
        <li class="pc-search-box">
          <div class="inner">
            <div>SEARCH</div>
            <div>
              <input type="text" placeholder="검색어를 입력해주세요">
              <p>추천검색어 : &nbsp;<span>페브릭</span>&nbsp; <span>무드등</span>&nbsp; <span>홈파티용품</span> </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>

<!-- pc header -->

  <!-- header -->

  <main>
    <div class="inner">

      <h5 class="sub-title-top">
        <p>
          <a href="../index.html"> home </a>&nbsp; >&nbsp; <a href="./product.html">best product</a>
        </p>
      </h5>

      <div class="product-intro">
        <div class="img">
          <img src="../images/product/best1.jpg" alt="">
        </div>
        <div>
          <h3 class="title">자기 화분세트</h3>
          <div class="product-buy">
            <div>
              <div>판매가</div>
              <div>20,000원</div>
            </div>
            <div>
              <div>옵션</div>
              <div>
                <select name="option" id="option">
                  <option value="option">
                    -------옵션을 선택해주세요-------
                  </option>
                  <option value="option">black</option>
                  <option value="option">gray</option>
                  <option value="option">green</option>
                </select>
              </div>
            </div>
            <div>
              <div>수량</div>
              <div>
                <input type="number" name="number" id="num" min="1">
              </div>
            </div>
            <p>
              총 상품금액(수량) : <span class="money">0</span>원 (<span class="num">0</span>개)
            </p>
            <ul>
              <li>
                <a href="javascript:void(0);">구매하기</a>
              </li>
              <li>
                <a href="javascript:void(0);">장바구니</a>
              </li>
              <li>
                <a href="javascript:void(0);">찜하기</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product-detail">


        <div class="product-info" id="product-info">
          <ul class="detail-nav">
            <li>
              <a href="#product-info"><span>상품정보</span></a>
            </li>
            <li>
              <a href="#buy-info">구매안내</a>
            </li>
            <li>
              <a href="#review">상품후기</a>
            </li>
            <li>
              <a href="#inquire">상품문의</a>
            </li>
          </ul>

          <h2>자기 화분세트</h2>

          <div class="img">
            <img src="../images/product/best1.jpg" alt="">
          </div>

          <div class="text">
            <h5>상품명</h5>
            <p>자기 화분세트</p>
            <h5>색상</h5>
            <p>black/gray/green</p>
            <h5>사이즈</h5>
            <p>28X12X16<br />
              (높이X내경X외경)</p>
            <h5>제조국</h5>
            <p>대한민국</p>
          </div>
        </div>

        <div class="buy-info" id="buy-info">
          <ul class="detail-nav">
            <li>
              <a href="#product-info">상품정보</a>
            </li>
            <li>
              <a href="#buy-info"><span>구매안내</span></a>
            </li>
            <li>
              <a href="#review">상품후기</a>
            </li>
            <li>
              <a href="#inquire">상품문의</a>
            </li>
          </ul>
          <div class="text-box">
            <div class="text">
              <h3>상품결제정보</h3>
              <p>
                고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등 정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는
                취소할
                수 있습니다.<br />
                <br />
                무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.<br />
                주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 12시간 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동취소 됩니다.
              </p>
            </div>
            <div class="text">
              <h3>배송정보</h3>
              <p>
                재고 보유 시 구매하신 분들은 당일 발송을 원칙으로 하며,<br />
                주문 폭주의경우 1~2일정도가 더 소요됩니다.<br />
                <br />
                제작 후 2주 소요로 구매하신 분들은<br />
                주문 마감 후 제작기간 2-3주 후에 받아보실 수 있습니다.<br />
                <br />
                일반 구매의경우 재고가 있을 시 당일배송되나<br />
                없는경우 2-3주 정도 소요됩니다.<br />
                (보통 결제일 기준으로 평균 2-4일정도 소요됩니다)<br />
                <br />
                언제 받는지 궁금하신 경우<br />
                홈페이지 문의게시판이나<br />
                카카오톡 HOMEDECO<br />
                재고문의를 하시면 재고 체크 후 빠르게 받아보실 수 있습니다.<br />
                <br />
                - 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.<br />
                고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다. 다만, 상품종류에 따라서 상품의 배송이 다소 지연될 수 있습니다.
              </p>
            </div>
            <div class="text">
              <h3>교환 및 반품정보</h3>
              <p>
                <span>
                  미리 안내드린 사항 미숙지로 인한 불이익은 어떠한 책임도 지지 않습니다.
                  번거로우시더라도 이용 전 꼭 필독해주세요
                </span><br />
                - 상품 수령 당일 날짜 기준으로 7일 이내(주말,공휴일포함)로 신청이 안되었을 경우<br />
                *전자상거래 소비자 보호에 관한 법률에 의거한 기준*<br />
                <br />
                - 옵션 변경의 경우 반품 사유가 고객변심으로 인정되기 때문에 배송비는 고객님 부담입니다.
              </p>
            </div>
          </div>
        </div>

        <div class="review" id="review">
          <ul class="detail-nav">
            <li>
              <a href="#product-info">상품정보</a>
            </li>
            <li>
              <a href="#buy-info">구매안내</a>
            </li>
            <li>
              <a href="#review"><span>상품후기</span></a>
            </li>
            <li>
              <a href="#inquire">상품문의</a>
            </li>
          </ul>
          <div class="section-title">
            <h2>REVIEW (1)</h2>
            <a href="javascript:void(0);">리뷰 전체보기</a>
          </div>
          <div class="review-top">
            <div>
              <p>
                <span class="material-icons-outlined">
                  star
                </span> 4.0
              </p>
            </div>
            <ul>
              <li>
                <div>5점</div>
                <div class="bar">
                  <div></div>
                </div>
                <div>0</div>
              </li>
              <li>
                <div>4점</div>
                <div class="bar">
                  <div class="bar-action"></div>
                </div>
                <div>1</div>
              </li>
              <li>
                <div>3점</div>
                <div class="bar">
                  <div></div>
                </div>
                <div>0</div>
              </li>
              <li>
                <div>2점</div>
                <div class="bar">
                  <div></div>
                </div>
                <div>0</div>
              </li>
              <li>
                <div>1점</div>
                <div class="bar">
                  <div></div>
                </div>
                <div>0</div>
              </li>
            </ul>
          </div>

          <div class="photo-review">
            <div class="photo-review-title">
              <h3>photo</h3>
              <a href="javascript:void(0);">전체보기</a>
            </div>
            <ul class="photo">
              <li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <img src="../images/product/best1.jpg" alt="">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="modal-body">
                        <img src="../images/product/best1.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="review-contents">
            <ul class="review-order">
              <li>
                <a href="javascript:void(0);">추천순</a>
              </li>
              <li>
                <a href="javascript:void(0);">별점순</a>
              </li>
              <li>
                <a href="javascript:void(0);">최신순</a>
              </li>
            </ul>

            <div>
              <div class="star">
                <span class="material-icons-outlined">
                  star
                </span>
                <span class="material-icons-outlined">
                  star
                </span>
                <span class="material-icons-outlined">
                  star
                </span>
                <span class="material-icons-outlined">
                  star
                </span>
                <span class="material-icons-outlined black-star">
                  star
                </span>
                4
              </div>
              <p class="id">zunzuni 님의 review</p>
              <p class="option">option: black</p>
              <p class="text">
                만족하며 사용하고 있습니다.
              </p>
            </div>
            <div class="photos">
              <div class="photo">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <img src="../images/product/best1.jpg" alt="">
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      <div class="modal-body">
                        <img src="../images/product/best1.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-nav">
              <ul>
                <li>
                  <a href="javascript:void(0);">
                    <span class="material-icons-outlined">
                      keyboard_double_arrow_left
                    </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <span class="material-icons-outlined">
                      keyboard_arrow_left
                    </span>
                  </a>
                </li>
                <li>
                  <a href="javasccript:void(0);">1</a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <span class="material-icons-outlined">
                      keyboard_arrow_right
                    </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <span class="material-icons-outlined">
                      keyboard_double_arrow_right
                    </span>
                  </a>
                </li>
              </ul>
            </div>


          </div>
        </div>

        <div class="inquire" id="inquire">
          <ul class="detail-nav">
            <li>
              <a href="#product-info">상품정보</a>
            </li>
            <li>
              <a href="#buy-info">구매안내</a>
            </li>
            <li>
              <a href="#review">상품후기</a>
            </li>
            <li>
              <a href="#inquire"><span>상품문의</span></a>
            </li>
          </ul>
          <h2>Q&A</h2>
          <ul class="inquire-content">
            <li class="inquire-content-title">
              <ul>
                <li>no</li>
                <li>contents</li>
                <li>name</li>
                <li>date</li>
                <li>view</li>
              </ul>
            </li>
            <li class="inquire-content-text">
              <ul class="inquire-content-text-question">
                <li>1</li>
                <li>배송 문의입니다</li>
                <li>zun***</li>
                <li>21.12.31</li>
                <li>2</li>
              </ul>
              <ul class="inquire-content-text-answer">
                <li>비밀번호</li>
                <li><input type="password"> <button class="inquire-button">확인</button></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </li>
          </ul>
          <div class="page-nav">
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <span class="material-icons-outlined">
                    keyboard_double_arrow_left
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="material-icons-outlined">
                    keyboard_arrow_left
                  </span>
                </a>
              </li>
              <li>
                <a href="javasccript:void(0);">1</a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="material-icons-outlined">
                    keyboard_arrow_right
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="material-icons-outlined">
                    keyboard_double_arrow_right
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </main>


  <footer>
    <div class="inner">
      <div class="footer-top">
        <ul>
          <li>
            <h4>CUSTOMER CENTER</h4>
            <h3>1544 - 1111</h3>
            <p>
              MON -FRI AM 10:00 - PM 17:00<br />
              LUNCH PM 12:00 - 13:00<br />
              SAT, SUN, HOLIDAY OFF<br />
            </p>
          </li>
          <li>
            <h4>BANK INFO</h4>
            <h5>신한은행 110 - 459 - 111111</h5>
            <p>예금주 : 정준호</p>
          </li>
          <li class="community">
            <h4>COMMUNITY</h4>
            <div>
              <a href="javascript:void(0);">NOTICE</a>
              <a href="javascript:void(0);">REVIEW</a>
              <a href="javascript:void(0);">Q&A</a>
            </div>
            <div>
              <a href="javascript:void(0);">EVENT</a>
              <a href="javascript:void(0);">GALLERY</a>
            </div>
          </li>
          <li>
            <h4>RETURN / EXCHANGE</h4>
            <p>
              반품주소 : 부산광역시 사상구 엄궁동 13-1<br />
              ATN 건물 내 (주)HOMEDECO 물류센터<br />
              교환 및 반품시, 미리 고객센터에 접수후 보내주세요.<br />
            </p>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>
          COMPANY : (주)홈데코 I 대표자 : 정준호 I 사업자등록번호 : 113-33-222222 <span>[사업자정보확인]</span> I 통신판매업 신고번호 :
          2022-부산사상-0111<br />
          ADDRESS : 부산광역시 사상구 엄궁동 1301 (주)홈데코 I CS CENTER : 051-111-1111 I FAX : 051-1128-1110<br />
          개인정보관리책임자 : 정준호 <span>(lovemehui12312@gmail.com)</span><br />
          마케팅 문의 : lovemehui12312@gmail.com<br />
          Copyright by 정준호. All rights reserved.
        </p>
        <div class="logo">
          <a href="../index.html">HOMEDECO</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- footer -->
  
</body>
</html>