<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOMEDECO</title>
  <link rel="icon" href="../favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet">
  <link rel="stylesheet" href="../css/bootstrap.scss">
  <script src="../js/bootstrap.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="../css/common.scss">
  <script defer src="../js/common.js"></script>
  <link rel="stylesheet" href="../css/login.scss">
</head>
<body>
  
  <div class="side-btn">
    <div class="toggle-btn">
      <span class="material-icons-outlined">
        arrow_left
      </span>
    </div>
    <div class="side-contents">
      <div>
        <a href="javascript:void(0);">
          <span class="material-icons-outlined" title="장바구니">
            shopping_bag
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" title="찜목록">
          <span class="material-icons-outlined">
            favorite_border
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" title="최근 본 목록">
          <span class="material-icons-outlined">
            visibility
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" id="top-btn" title="위로가기">
          <span class="material-icons-outlined">
            expand_less
          </span>
        </a>
      </div>
    </div>
  </div>
  <header class="mobile-header">
    <div class="inner">
      <div class="logo-box">
        <div class="ham-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <a href="../index.html">HOMEDECO</a>
        </div>
        <div class="icons">
          <div class="icon">
            <span class="material-icons-outlined">
              search
            </span>
          </div>
          <input class="search-box" type="text" placeholder="검색어를 입력해주세요">
        </div>
      </div>
      
      <div class="lnb-box">
        <div class="log">
          <div>로그인을 해주세요</div>
          <a href="./login.html">로그인</a>
        </div>
        <ul class="gnb">
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
                person_outline
              </span>
              <p>마이페이지</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
              shopping_bag
              </span>
              <p>장바구니</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
                confirmation_number
              </span>
              <p>쿠폰</p>
            </a>
          </li>
        </ul>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed accordion-icon-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
              onclick = "location.href = './components/product.html'">
                BEST PRODUCT
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed accordion-icon-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                NEW PRODUCT
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                DECO
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">장식소품</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">시계 & 벽장식</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">액자</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">수납정리함</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">거울</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">조명 & 캔들</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                FURNITURE
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">테이블</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">의자</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">선반 & 행거</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                FABRIC & LIFE
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">쿠션 & 방석</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">러그</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">생활 & 욕실용품</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                GARDEN
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">조화</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">화병</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                COMMUNITY
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">공지사항</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">이벤트</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">Q & A</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">갤러리</a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- mobile header -->

  <header class="pc-header">
    <div class="inner">
      <div class="logo">
        <a href="../index.html">HOMEDECO</a>
      </div>
      <ul class="lnb">
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="./product.html">BEST PRODUCT</a>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">NEW PRODUCT</a>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">DECO</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                DECO
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">장식소품</a>
                </li>
                <li>
                  <a href="javascript:void(0);">시계 & 벽장식</a>
                </li>
                <li>
                  <a href="javascript:void(0);">액자</a></li>
                <li>
                  <a href="javascript:void(0);">수납정리함</a>
                </li>
                <li>
                  <a href="javascript:void(0);">거울</a>
                </li>
                <li>
                  <a href="javascript:void(0);">조명 & 캔들</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img1.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">FURNITURE</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                FURNITURE
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">테이블</a>
                </li>
                <li>
                  <a href="javascript:void(0);">의자</a>
                </li>
                <li>
                  <a href="javascript:void(0);">선반 & 행거</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img2.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">FABRIC & LIFE</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                FABRIC & LIFE
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">쿠션 & 방석</a>
                </li>
                <li>
                  <a href="javascript:void(0);">러그</a>
                </li>
                <li>
                  <a href="javascript:void(0);">생활 & 욕실용품</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img3.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">GARDEN</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                GARDEN
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">조화</a>
                </li>
                <li>
                  <a href="javascript:void(0);">화병</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img4.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">COMMUNITY</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                COMMUNITY
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">공지사항</a>
                </li>
                <li>
                  <a href="javascript:void(0);">이벤트</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Q & A</a>
                </li>
                <li>
                  <a href="javascript:void(0);">갤러리</a>
                </li>
                <li>
                  <a href="javascript:void(0);">리뷰</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img5.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
      </ul>

      <ul class="gnb">
        <li>
          <a href="./login.html" title="로그인">
            <span class="material-icons-outlined">
              login
            </span>
          </a>
        </li>
        <li>
          <a href="./login.html" title="마이 페이지">
            <span class="material-icons-outlined">
              person_outline
            </span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" title="이벤트">
            <span class="material-icons-outlined">
              card_giftcard
            </span>
          </a>
        </li>
        <li class="pc-search">
          <a href="javascript:void(0);" title="검색">
            <span class="material-icons-outlined">
              search
            </span>
          </a>
        </li>
        <li class="pc-search-box">
          <div class="inner">
            <div>SEARCH</div>
            <div>
              <input type="text" placeholder="검색어를 입력해주세요">
              <p>추천검색어 : &nbsp;<span>페브릭</span>&nbsp; <span>무드등</span>&nbsp; <span>홈파티용품</span> </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>

<!-- pc header -->

  <!-- header -->

  <h5 class="sub-title-top">
    <p>
      <a href="../index.html"> home </a>&nbsp; >&nbsp; <a href="./product.html">best product</a>
    </p>
  </h5>

  <div class="login-box">
    <div class="login">
      <h3>Registered Customers</h3>
      <h3>아이디와 패스워드를 입력해주세요</h3>
      <form>
        <input type="id" placeholder="ID">
        <input type="password" placeholder="PW">
        <input type="submit" value="로그인">
      </form>
      <div class="naver">네이버 로그인</div>
      <div class="kakao">카카계정 로그인</div>
      <div class="joinin">
        <a href="./signin.html">회원가입</a>
      </div>
      <ul>
        <li>아이디찾기</li>
        <li>비밀번호찾기</li>
      </ul>
    </div>
  </div>


  <footer>
    <div class="inner">
      <div class="footer-top">
        <ul>
          <li>
            <h4>CUSTOMER CENTER</h4>
            <h3>1544 - 1111</h3>
            <p>
              MON -FRI AM 10:00 - PM 17:00<br />
              LUNCH PM 12:00 - 13:00<br />
              SAT, SUN, HOLIDAY OFF<br />
            </p>
          </li>
          <li>
            <h4>BANK INFO</h4>
            <h5>신한은행 110 - 459 - 111111</h5>
            <p>예금주 : 정준호</p>
          </li>
          <li class="community">
            <h4>COMMUNITY</h4>
            <div>
              <a href="javascript:void(0);">NOTICE</a>
              <a href="javascript:void(0);">REVIEW</a>
              <a href="javascript:void(0);">Q&A</a>
              </div>
            <div>
              <a href="javascript:void(0);">EVENT</a>
              <a href="javascript:void(0);">GALLERY</a>
            </div>
          </li>
          <li>
            <h4>RETURN / EXCHANGE</h4>
            <p>
              반품주소 : 부산광역시 사상구 엄궁동 13-1<br />
              ATN 건물 내 (주)HOMEDECO 물류센터<br />
              교환 및 반품시, 미리 고객센터에 접수후 보내주세요.<br />
            </p>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>
          COMPANY : (주)홈데코 I 대표자 : 정준호 I 사업자등록번호 : 113-33-222222 <span>[사업자정보확인]</span> I 통신판매업 신고번호 : 2022-부산사상-0111<br />
          ADDRESS : 부산광역시 사상구 엄궁동 1301 (주)홈데코 I CS CENTER : 051-111-1111 I FAX : 051-1128-1110<br />
          개인정보관리책임자 : 정준호 <span>(lovemehui12312@gmail.com)</span><br />
          마케팅 문의 : lovemehui12312@gmail.com<br />
          Copyright by 정준호. All rights reserved.
        </p>
        <div class="logo">
          <a href="javascript:void(0);">HOMEDECO</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>