<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOMEDECO</title>
  <link rel="icon" href="../favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="stylesheet" href="../css/bootstrap.scss">
  <script src="../js/bootstrap.js"></script>
  <link rel="stylesheet" href="../css/common.scss">
  <link rel="stylesheet" href="../css/common.scss">
  <script defer src="../js/common.js"></script>
  <link rel="stylesheet" href="../css/signin.scss">
  <script defer src="../js/signin.js"></script>
</head>
<body>
  
  <div class="side-btn">
    <div class="toggle-btn">
      <span class="material-icons-outlined">
        arrow_left
      </span>
    </div>
    <div class="side-contents">
      <div>
        <a href="javascript:void(0);">
          <span class="material-icons-outlined" title="장바구니">
            shopping_bag
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" title="찜목록">
          <span class="material-icons-outlined">
            favorite_border
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" title="최근 본 목록">
          <span class="material-icons-outlined">
            visibility
          </span>
        </a>
      </div>
      <div>
        <a href="javascript:void(0);" id="top-btn" title="위로가기">
          <span class="material-icons-outlined">
            expand_less
          </span>
        </a>
      </div>
    </div>
  </div>
  <header class="mobile-header">
    <div class="inner">
      <div class="logo-box">
        <div class="ham-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <a href="../index.html">HOMEDECO</a>
        </div>
        <div class="icons">
          <div class="icon">
            <span class="material-icons-outlined">
              search
            </span>
          </div>
          <input class="search-box" type="text" placeholder="검색어를 입력해주세요">
        </div>
      </div>
      
      <div class="lnb-box">
        <div class="log">
          <div>로그인을 해주세요</div>
          <a href="./login.html">로그인</a>
        </div>
        <ul class="gnb">
          <li>
            <a href="./login.html">
              <span class="material-icons-outlined">
                person_outline
              </span>
              <p>마이페이지</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
              shopping_bag
              </span>
              <p>장바구니</p>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="material-icons-outlined">
                confirmation_number
              </span>
              <p>쿠폰</p>
            </a>
          </li>
        </ul>


        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed accordion-icon-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
              onclick = "location.href = './components/product.html'">
                BEST PRODUCT
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed accordion-icon-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                NEW PRODUCT
              </button>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                DECO
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">장식소품</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">시계 & 벽장식</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">액자</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">수납정리함</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">거울</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">조명 & 캔들</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                FURNITURE
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">테이블</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">의자</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">선반 & 행거</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                FABRIC & LIFE
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">쿠션 & 방석</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">러그</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">생활 & 욕실용품</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                GARDEN
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">조화</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">화병</a>
                </li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                COMMUNITY
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">공지사항</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">이벤트</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">Q & A</a>
                </li>
                <li class="accordion-body-list">
                  <a href="javascript:void(0);">갤러리</a>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- mobile header -->

  <header class="pc-header">
    <div class="inner">
      <div class="logo">
        <a href="../index.html">HOMEDECO</a>
      </div>
      <ul class="lnb">
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="./product.html">BEST PRODUCT</a>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">NEW PRODUCT</a>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">DECO</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                DECO
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">장식소품</a>
                </li>
                <li>
                  <a href="javascript:void(0);">시계 & 벽장식</a>
                </li>
                <li>
                  <a href="javascript:void(0);">액자</a></li>
                <li>
                  <a href="javascript:void(0);">수납정리함</a>
                </li>
                <li>
                  <a href="javascript:void(0);">거울</a>
                </li>
                <li>
                  <a href="javascript:void(0);">조명 & 캔들</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img1.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">FURNITURE</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                FURNITURE
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">테이블</a>
                </li>
                <li>
                  <a href="javascript:void(0);">의자</a>
                </li>
                <li>
                  <a href="javascript:void(0);">선반 & 행거</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img2.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">FABRIC & LIFE</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                FABRIC & LIFE
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">쿠션 & 방석</a>
                </li>
                <li>
                  <a href="javascript:void(0);">러그</a>
                </li>
                <li>
                  <a href="javascript:void(0);">생활 & 욕실용품</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img3.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">GARDEN</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                GARDEN
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">조화</a>
                </li>
                <li>
                  <a href="javascript:void(0);">화병</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img4.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
        <li class="lnb-box">
          <div class="lnb-title">
            <a href="javascript:void(0);">COMMUNITY</a>
          </div>
          <div class="lnb-content">
            <div class="inner">
              <h4 class="lnb-content-subtitle">
                COMMUNITY
              </h4>
              <ul class="lnb-content-menu">
                <li>
                  <a href="javascript:void(0);">공지사항</a>
                </li>
                <li>
                  <a href="javascript:void(0);">이벤트</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Q & A</a>
                </li>
                <li>
                  <a href="javascript:void(0);">갤러리</a>
                </li>
                <li>
                  <a href="javascript:void(0);">리뷰</a>
                </li>
              </ul>
              <div class="lnb-content-sub">
                <div>
                  <img src="../images/menu-img5.jpg" alt="">
                </div>
              </div>
            </div>
            </div>
        </li>
      </ul>

      <ul class="gnb">
        <li>
          <a href="./login.html" title="로그인">
            <span class="material-icons-outlined">
              login
            </span>
          </a>
        </li>
        <li>
          <a href="./login.html" title="마이 페이지">
            <span class="material-icons-outlined">
              person_outline
            </span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" title="이벤트">
            <span class="material-icons-outlined">
              card_giftcard
            </span>
          </a>
        </li>
        <li class="pc-search">
          <a href="javascript:void(0);" title="검색">
            <span class="material-icons-outlined">
              search
            </span>
          </a>
        </li>
        <li class="pc-search-box">
          <div class="inner">
            <div>SEARCH</div>
            <div>
              <input type="text" placeholder="검색어를 입력해주세요">
              <p>추천검색어 : &nbsp;<span>페브릭</span>&nbsp; <span>무드등</span>&nbsp; <span>홈파티용품</span> </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>

<!-- pc header -->

  <!-- header -->

  <h5 class="sub-title-top">
    <p>
      <a href="../index.html"> home </a>&nbsp; >&nbsp; <a href="./product.html">best product</a>
    </p>
  </h5>

  <div class="signin-box">
    <form action="">
      <div class="title id">아이디 <span>*</span></div>
      <input type="id">
      <div class="title ps">비밀번호 <span>*</span></div>
      <input type="password">
      <div class="title ps">비밀번호 재확인 <span>*</span></div>
      <input type="password">
      <div class="title name">이름 <span>*</span></div>
      <input type="name">
      <div class="title birth">생년월일 <span>*</span></div>
      <div class="input-birth">
        <input type="text" placeholder="년(4자)">
        <select name="birth">
          <option value="월">월</option>
          <option value="월">1</option>
          <option value="월">2</option>
          <option value="월">3</option>
          <option value="월">4</option>
          <option value="월">5</option>
          <option value="월">6</option>
          <option value="월">7</option>
          <option value="월">8</option>
          <option value="월">9</option>
          <option value="월">10</option>
          <option value="월">11</option>
          <option value="월">12</option>
          <input type="text" placeholder="일">
        </select>
      </div>  
      <div class="title gender">성별</div>
      <select name="gender" id="">
        <option value="gender">성별</option>
        <option value="gender">남</option>
        <option value="gender">여</option>
        <option value="gender">선택안함</option>
      </select>
      <div class="title phone">휴대전화 <span>*</span></div>
      <div class="input-phone">
        <select name="phone">
          <option value="">010</option>
          <option value="">016</option>
          <option value="">017</option>
          <option value="">018</option>
          <option value="">019</option>
        </select>
        <span>-</span>
        <input type="text">
        <span>-</span>
        <input type="text">
      </div>
      <div class="title email">이메일</div>
      <input type="email">
    </form>

    <div class="agree-box">
      <h4>
        <input type="checkbox" class="allcheck">
        홈데코 이용약관, 개인정보 수집 및 이용, 프로모션 정보 수신(선택)에 모두 동의합니다.
      </h4>
      <h5>
        <input type="checkbox" class="check">
        홈데코 이용약관 동의(필수)
      </h5>
      <div class="text">
        개인정보보호법에 따라 홈데코에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내
        드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.<br />
        <br />
        1. 수집하는 개인정보<br />
        이용자는 회원가입을 하지 않아도 정보 검색, 뉴스 보기 등 대부분의 홈데코 서비스를 회원과 동일하게 이용할 수 있습니다. 이용자가 메일, 캘린더, 카페, 블로그 등과 같이 개인화 혹은 회원제 서비스를<br />
        이용하기 위해 회원가입을 할 경우, 홈데코는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.<br />
        <br />
        회원가입 시점에 홈데코가 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br />
        - 회원 가입 시에 ‘아이디, 비밀번호, 이름, 생년월일, 성별, 휴대전화번호’를 필수항목으로 수집합니다. 만약 이용자가 입력하는 생년월일이 만14세 미만 아동일 경우에는 법정대리인 정보(법정대리인의
        이름, 생년월일, 성별, 중복가입확인정보(DI), 휴대전화번호)를 추가로 수집합니다. 그리고 선택항목으로 이메일 주소를 수집합니다.<br />
        - 단체아이디로 회원가입 시 단체아이디, 비밀번호, 단체이름, 이메일주소, 휴대전화번호를 필수항목으로 수집합니다. 그리고 단체 대표자명을 선택항목으로 수집합니다.
        서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br />
        - 회원정보 또는 개별 서비스에서 프로필 정보(별명, 프로필 사진)를 설정할 수 있습니다. 회원정보에 별명을 입력하지 않은 경우에는 마스킹 처리된 아이디가 별명으로 자동 입력됩니다.<br />
        <br />
        - 홈데코 내의 개별 서비스 이용, 이벤트 응모 및 경품 신청 과정에서 해당 서비스의 이용자에 한해 추가 개인정보 수집이 발생할 수 있습니다. 추가로 개인정보를 수집할 경우에는 해당 개인정보 수집
        시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내 드리고 동의를 받습니다.<br />
        <br />
        서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록, 기기정보, 위치정보가 생성되어 수집될 수 있습니다. 또한 이미지 및 음성을 이용한 검색 서비스 등에서 이미지나 음성이 수집될 수 있습니다.
        구체적으로 1) 서비스 이용 과정에서 이용자에 관한 정보를 자동화된 방법으로 생성하여 이를 저장(수집)하거나,
        2) 이용자 기기의 고유한 정보를 원래의 값을 확인하지 못 하도록 안전하게 변환하여 수집합니다. 서비스 이용 과정에서 위치정보가 수집될 수 있으며,
        홈데코에서 제공하는 위치기반 서비스에 대해서는 '홈데코 위치정보 이용약관'에서 자세하게 규정하고 있습니다.
        이와 같이 수집된 정보는 개인정보와의 연계 여부 등에 따라 개인정보에 해당할 수 있고, 개인정보에 해당하지 않을 수도 있습니다.
        <br />
        2. 수집한 개인정보의 이용<br />
        홈데코 및 홈데코 관련 제반 서비스(모바일 웹/앱 포함)의 회원관리, 서비스 개발・제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.<br />
        <br />
        - 회원 가입 의사의 확인, 연령 확인 및 법정대리인 동의 진행, 이용자 및 법정대리인의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.<br />
        - 콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스
        제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다.<br />
        - 법령 및 홈데코 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정
        등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다.<br />
        - 유료 서비스 제공에 따르는 본인인증, 구매 및 요금 결제, 상품 및 서비스의 배송을 위하여 개인정보를 이용합니다.<br />
        - 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.<br />
        - 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다.<br />
        - 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.<br />
        3. 개인정보의 보관기간<br />
        회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.<br />
        단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.<br />
        <br />
        이용자에게 개인정보 보관기간에 대해 회원가입 시 또는 서비스 가입 시 동의를 얻은 경우는 아래와 같습니다.<br />
        - 부정 가입 및 이용 방지<br />
        부정 이용자의 가입인증 휴대전화번호 또는 DI (만14세 미만의 경우 법정대리인DI) : 탈퇴일로부터 6개월 보관<br />
        탈퇴한 이용자의 휴대전화번호(복호화가 불가능한 일방향 암호화(해시처리)) : 탈퇴일로부터 6개월 보관<br />
        - QR코드 복구 요청 대응<br />
        QR코드 등록 정보:삭제 시점으로부터6개월 보관<br />
        - 스마트플레이스 분쟁 조정 및 고객문의 대응<br />
        휴대전화번호:등록/수정/삭제 요청 시로부터 최대1년<br />
        - 홈데코 플러스 멤버십 서비스 혜택 중복 제공 방지<br />
        암호화처리(해시처리)한DI :혜택 제공 종료일로부터6개월 보관<br />
        - 지식iN eXpert 재가입 신청 및 부정 이용 방지<br />
        ID : 서비스 탈퇴 후 6개월 보관<br />
        eXpert 서비스 및 eXpert 센터 가입 등록정보 : 신청일로부터 6개월(등록 거절 시, 거절 의사 표시한 날로부터 30일) 보관<br />
        전자상거래 등에서의 소비자 보호에 관한 법률, 전자금융거래법, 통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 홈데코는 이 기간 동안 법령의 규정에 따라 개인정보를
        보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.<br />
        - 전자상거래 등에서 소비자 보호에 관한 법률<br />
        계약 또는 청약철회 등에 관한 기록: 5년 보관<br />
        대금결제 및 재화 등의 공급에 관한 기록: 5년 보관<br />
        소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관<br />
        - 전자문서 및 전자거래 기본법<br />
        공인전자주소를 통한 전자문서 유통에 관한 기록 : 10년 보관<br />
        - 통신비밀보호법<br />
        로그인 기록: 3개월<br />
        <br />
        참고로 홈데코는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 회원의 개인정보를 별도로 분리 보관하여 관리하고 있습니다.<br />
        <br />
        4. 개인정보 수집 및 이용 동의를 거부할 권리<br />
        이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다. 회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다.
      </div>
      
      <h5>
        <input type="checkbox" class="check">
        개인정보 수집 및 이용 동의(필수)
      </h5>

      <div class="text">
        개인정보보호법에 따라 홈데코에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내
        드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.개인정보보호법에 따라 홈데코에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.<br />
        <br />
        1. 수집하는 개인정보<br />
        이용자는 회원가입을 하지 않아도 정보 검색, 뉴스 보기 등 대부분의 홈데코 서비스를 회원과 동일하게 이용할 수 있습니다. 이용자가 메일, 캘린더, 카페, 블로그 등과 같이 개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우, 홈데코는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.<br />
        <br />
        회원가입 시점에 홈데코가 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br />
        - 회원 가입 시에 ‘아이디, 비밀번호, 이름, 생년월일, 성별, 휴대전화번호’를 필수항목으로 수집합니다. 만약 이용자가 입력하는 생년월일이 만14세 미만 아동일 경우에는 법정대리인 정보(법정대리인의 이름, 생년월일, 성별, 중복가입확인정보(DI), 휴대전화번호)를 추가로 수집합니다. 그리고 선택항목으로 이메일 주소를 수집합니다.<br />
        - 단체아이디로 회원가입 시 단체아이디, 비밀번호, 단체이름, 이메일주소, 휴대전화번호를 필수항목으로 수집합니다. 그리고 단체 대표자명을 선택항목으로 수집합니다.
        서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br />
        - 회원정보 또는 개별 서비스에서 프로필 정보(별명, 프로필 사진)를 설정할 수 있습니다. 회원정보에 별명을 입력하지 않은 경우에는 마스킹 처리된 아이디가 별명으로 자동 입력됩니다.<br />
        <br />
        - 홈데코 내의 개별 서비스 이용, 이벤트 응모 및 경품 신청 과정에서 해당 서비스의 이용자에 한해 추가 개인정보 수집이 발생할 수 있습니다. 추가로 개인정보를 수집할 경우에는 해당 개인정보 수집 시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내 드리고 동의를 받습니다.<br />
        <br />
        서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록, 기기정보, 위치정보가 생성되어 수집될 수 있습니다. 또한 이미지 및 음성을 이용한 검색 서비스 등에서 이미지나 음성이 수집될 수 있습니다.
        구체적으로 1) 서비스 이용 과정에서 이용자에 관한 정보를 자동화된 방법으로 생성하여 이를 저장(수집)하거나,
        2) 이용자 기기의 고유한 정보를 원래의 값을 확인하지 못 하도록 안전하게 변환하여 수집합니다. 서비스 이용 과정에서 위치정보가 수집될 수 있으며,
        홈데코에서 제공하는 위치기반 서비스에 대해서는 '홈데코 위치정보 이용약관'에서 자세하게 규정하고 있습니다.
        이와 같이 수집된 정보는 개인정보와의 연계 여부 등에 따라 개인정보에 해당할 수 있고, 개인정보에 해당하지 않을 수도 있습니다.
        <br />
        2. 수집한 개인정보의 이용<br />
        홈데코 및 홈데코 관련 제반 서비스(모바일 웹/앱 포함)의 회원관리, 서비스 개발・제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.<br />
        <br />
        - 회원 가입 의사의 확인, 연령 확인 및 법정대리인 동의 진행, 이용자 및 법정대리인의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.<br />
        - 콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다.<br />
        - 법령 및 홈데코 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다.<br />
        - 유료 서비스 제공에 따르는 본인인증, 구매 및 요금 결제, 상품 및 서비스의 배송을 위하여 개인정보를 이용합니다.<br />
        - 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.<br />
        - 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다.<br />
        - 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.<br />
        3. 개인정보의 보관기간<br />
        회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.<br />
        단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.<br />
        <br />
        이용자에게 개인정보 보관기간에 대해 회원가입 시 또는 서비스 가입 시 동의를 얻은 경우는 아래와 같습니다.<br />
        - 부정 가입 및 이용 방지<br />
        부정 이용자의 가입인증 휴대전화번호 또는 DI (만14세 미만의 경우 법정대리인DI) : 탈퇴일로부터 6개월 보관<br />
        탈퇴한 이용자의 휴대전화번호(복호화가 불가능한 일방향 암호화(해시처리)) : 탈퇴일로부터 6개월 보관<br />
        - QR코드 복구 요청 대응<br />
        QR코드 등록 정보:삭제 시점으로부터6개월 보관<br />
        - 스마트플레이스 분쟁 조정 및 고객문의 대응<br />
        휴대전화번호:등록/수정/삭제 요청 시로부터 최대1년<br />
        - 홈데코 플러스 멤버십 서비스 혜택 중복 제공 방지<br />
        암호화처리(해시처리)한DI :혜택 제공 종료일로부터6개월 보관<br />
        - 지식iN eXpert 재가입 신청 및 부정 이용 방지<br />
        ID : 서비스 탈퇴 후 6개월 보관<br />
        eXpert 서비스 및 eXpert 센터 가입 등록정보 : 신청일로부터 6개월(등록 거절 시, 거절 의사 표시한 날로부터 30일) 보관<br />
        전자상거래 등에서의 소비자 보호에 관한 법률, 전자금융거래법, 통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 홈데코는 이 기간 동안 법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.<br />
        - 전자상거래 등에서 소비자 보호에 관한 법률<br />
        계약 또는 청약철회 등에 관한 기록: 5년 보관<br />
        대금결제 및 재화 등의 공급에 관한 기록: 5년 보관<br />
        소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관<br />
        - 전자문서 및 전자거래 기본법<br />
        공인전자주소를 통한 전자문서 유통에 관한 기록 : 10년 보관<br />
        - 통신비밀보호법<br />
        로그인 기록: 3개월<br />
        <br />
        참고로 홈데코는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 회원의 개인정보를 별도로 분리 보관하여 관리하고 있습니다.<br />
        <br />
        4. 개인정보 수집 및 이용 동의를 거부할 권리<br />
        이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다. 회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다.<br />
        <br />
        1. 수집하는 개인정보<br />
        이용자는 회원가입을 하지 않아도 정보 검색, 뉴스 보기 등 대부분의 홈데코 서비스를 회원과 동일하게 이용할 수 있습니다. 이용자가 메일, 캘린더, 카페, 블로그 등과 같이 개인화 혹은 회원제 서비스를
        이용하기 위해 회원가입을 할 경우, 홈데코는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.<br />
        <br />
        회원가입 시점에 홈데코가 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br />
        - 회원 가입 시에 ‘아이디, 비밀번호, 이름, 생년월일, 성별, 휴대전화번호’를 필수항목으로 수집합니다. 만약 이용자가 입력하는 생년월일이 만14세 미만 아동일 경우에는 법정대리인 정보(법정대리인의<br />
        이름, 생년월일, 성별, 중복가입확인정보(DI), 휴대전화번호)를 추가로 수집합니다. 그리고 선택항목으로 이메일 주소를 수집합니다.
        - 단체아이디로 회원가입 시 단체아이디, 비밀번호, 단체이름, 이메일주소, 휴대전화번호를 필수항목으로 수집합니다. 그리고 단체 대표자명을 선택항목으로 수집합니다.
        서비스 이용 과정에서 이용자로부터 수집하는 개인정보는 아래와 같습니다.<br />
        - 회원정보 또는 개별 서비스에서 프로필 정보(별명, 프로필 사진)를 설정할 수 있습니다. 회원정보에 별명을 입력하지 않은 경우에는 마스킹 처리된 아이디가 별명으로 자동 입력됩니다.<br />
        <br />
        - 홈데코 내의 개별 서비스 이용, 이벤트 응모 및 경품 신청 과정에서 해당 서비스의 이용자에 한해 추가 개인정보 수집이 발생할 수 있습니다. 추가로 개인정보를 수집할 경우에는 해당 개인정보 수집
        시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내 드리고 동의를 받습니다.<br />
        <br />
        서비스 이용 과정에서 IP 주소, 쿠키, 서비스 이용 기록, 기기정보, 위치정보가 생성되어 수집될 수 있습니다. 또한 이미지 및 음성을 이용한 검색 서비스 등에서 이미지나 음성이 수집될 수 있습니다.
        구체적으로 1) 서비스 이용 과정에서 이용자에 관한 정보를 자동화된 방법으로 생성하여 이를 저장(수집)하거나,
        2) 이용자 기기의 고유한 정보를 원래의 값을 확인하지 못 하도록 안전하게 변환하여 수집합니다. 서비스 이용 과정에서 위치정보가 수집될 수 있으며,
        홈데코에서 제공하는 위치기반 서비스에 대해서는 '홈데코 위치정보 이용약관'에서 자세하게 규정하고 있습니다.
        이와 같이 수집된 정보는 개인정보와의 연계 여부 등에 따라 개인정보에 해당할 수 있고, 개인정보에 해당하지 않을 수도 있습니다.<br />
        <br />
        2. 수집한 개인정보의 이용<br />
        홈데코 및 홈데코 관련 제반 서비스(모바일 웹/앱 포함)의 회원관리, 서비스 개발・제공 및 향상, 안전한 인터넷 이용환경 구축 등 아래의 목적으로만 개인정보를 이용합니다.<br />
        <br />
        - 회원 가입 의사의 확인, 연령 확인 및 법정대리인 동의 진행, 이용자 및 법정대리인의 본인 확인, 이용자 식별, 회원탈퇴 의사의 확인 등 회원관리를 위하여 개인정보를 이용합니다.<br />
        - 콘텐츠 등 기존 서비스 제공(광고 포함)에 더하여, 인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스
        제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선 등을 위하여 개인정보를 이용합니다.<br />
        - 법령 및 홈데코 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정
        등의 고지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등 이용자 보호 및 서비스 운영을 위하여 개인정보를 이용합니다.<br />
        - 유료 서비스 제공에 따르는 본인인증, 구매 및 요금 결제, 상품 및 서비스의 배송을 위하여 개인정보를 이용합니다.<br />
        - 이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.<br />
        - 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등에 개인정보를 이용합니다.<br />
        - 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.<br />
        3. 개인정보의 보관기간<br />
        회사는 원칙적으로 이용자의 개인정보를 회원 탈퇴 시 지체없이 파기하고 있습니다.<br />
        단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.<br />
        <br />
        이용자에게 개인정보 보관기간에 대해 회원가입 시 또는 서비스 가입 시 동의를 얻은 경우는 아래와 같습니다.<br />
        - 부정 가입 및 이용 방지<br />
        부정 이용자의 가입인증 휴대전화번호 또는 DI (만14세 미만의 경우 법정대리인DI) : 탈퇴일로부터 6개월 보관
        탈퇴한 이용자의 휴대전화번호(복호화가 불가능한 일방향 암호화(해시처리)) : 탈퇴일로부터 6개월 보관<br />
        - QR코드 복구 요청 대응<br />
        QR코드 등록 정보:삭제 시점으로부터6개월 보관<br />
        - 스마트플레이스 분쟁 조정 및 고객문의 대응<br />
        휴대전화번호:등록/수정/삭제 요청 시로부터 최대1년<br />
        - 홈데코 플러스 멤버십 서비스 혜택 중복 제공 방지<br />
        암호화처리(해시처리)한DI :혜택 제공 종료일로부터6개월 보관<br />
        - 홈데코 재가입 신청 및 부정 이용 방지<br />
        ID : 서비스 탈퇴 후 6개월 보관<br />
        홈데코 가입 등록정보 : 신청일로부터 6개월(등록 거절 시, 거절 의사 표시한 날로부터 30일) 보관<br />
        전자상거래 등에서의 소비자 보호에 관한 법률, 전자금융거래법, 통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 홈데코는 이 기간 동안 법령의 규정에 따라 개인정보를<br />
        보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.<br />
        - 전자상거래 등에서 소비자 보호에 관한 법률<br />
        계약 또는 청약철회 등에 관한 기록: 5년 보관<br />
        대금결제 및 재화 등의 공급에 관한 기록: 5년 보관<br />
        소비자의 불만 또는 분쟁처리에 관한 기록: 3년 보관<br />
        - 전자문서 및 전자거래 기본법<br />
        공인전자주소를 통한 전자문서 유통에 관한 기록 : 10년 보관<br />
        - 통신비밀보호법<br />
        로그인 기록: 3개월<br />
        <br />
        참고로 홈데코는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 회원의 개인정보를 별도로 분리 보관하여 관리하고 있습니다.<br />
        <br />
        4. 개인정보 수집 및 이용 동의를 거부할 권리<br />
        이용자는 개인정보의 수집 및 이용 동의를 거부할 권리가 있습니다. 회원가입 시 수집하는 최소한의 개인정보, 즉, 필수 항목에 대한 수집 및 이용 동의를 거부하실 경우, 회원가입이 어려울 수 있습니다.
      </div>
      <h5>
        <input type="checkbox" class="check">
        프로모션 정보 수신 동의(선택)
      </h5>
      <div class="text-etc">
        네이버에서 제공하는 이벤트/혜택 등 다양한 정보를 휴대전화(네이버앱 알림 또는 문자), 이메일로 받아보실 수 있습니다. 일부 서비스(별도 회원 체계로 운영하거나 네이버 가입 이후 추가 가입하여 이용하는 서비스 등)의 경우, 개별 서비스에 대해 별도 수신 동의를 받을 수 있으며, 이때에도 수신 동의에 대해 별도로 안내하고 동의를 받습니다.
      </div>
    </div>
    <a href="./login.html" class="joinin-button">가입하기</a>
  </div>

 


  <footer>
    <div class="inner">
      <div class="footer-top">
        <ul>
          <li>
            <h4>CUSTOMER CENTER</h4>
            <h3>1544 - 1111</h3>
            <p>
              MON -FRI AM 10:00 - PM 17:00<br />
              LUNCH PM 12:00 - 13:00<br />
              SAT, SUN, HOLIDAY OFF<br />
            </p>
          </li>
          <li>
            <h4>BANK INFO</h4>
            <h5>신한은행 110 - 459 - 111111</h5>
            <p>예금주 : 정준호</p>
          </li>
          <li class="community">
            <h4>COMMUNITY</h4>
            <div>
              <a href="javascript:void(0);">NOTICE</a>
              <a href="javascript:void(0);">REVIEW</a>
              <a href="javascript:void(0);">Q&A</a>
              </div>
            <div>
              <a href="javascript:void(0);">EVENT</a>
              <a href="javascript:void(0);">GALLERY</a>
            </div>
          </li>
          <li>
            <h4>RETURN / EXCHANGE</h4>
            <p>
              반품주소 : 부산광역시 사상구 엄궁동 13-1<br />
              ATN 건물 내 (주)HOMEDECO 물류센터<br />
              교환 및 반품시, 미리 고객센터에 접수후 보내주세요.<br />
            </p>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>
          COMPANY : (주)홈데코 I 대표자 : 정준호 I 사업자등록번호 : 113-33-222222 <span>[사업자정보확인]</span> I 통신판매업 신고번호 : 2022-부산사상-0111<br />
          ADDRESS : 부산광역시 사상구 엄궁동 1301 (주)홈데코 I CS CENTER : 051-111-1111 I FAX : 051-1128-1110<br />
          개인정보관리책임자 : 정준호 <span>(lovemehui12312@gmail.com)</span><br />
          마케팅 문의 : lovemehui12312@gmail.com<br />
          Copyright by 정준호. All rights reserved.
        </p>
        <div class="logo">
          <a href="javascript:void(0);">HOMEDECO</a>
        </div>
      </div>
    </div>
  </footer>


</body>
</html>